{% extends 'index.html' %}
{% block title %}{{ title }}{%endblock%}
{% block content %}
<div class="container col-md-4 bg-light p-5">
    <form method="POST" action="{% url 'login' %}">
         {% csrf_token %}
        <div class="form-group">
        <label for="user">Dígite su correo electrónico</label>
        <input class="form-control" type="text" placeholder="username" name="username" id="user" required/>
        </div>
         <div class="form-group">
         <label for="pass">Dígite su contraseña</label>
        <input class="form-control" type="password" placeholder="password" name="password" id="pass" required/>
         </div>
        <button class="btn btn-primary" type="submit">Ingresar</button>

    </form>
    </div>
{% endblock content %}



