{% extends 'sopra.html' %}


{% block title %}{{ n_device }}{%endblock%}


{% block content %}

<div class="container pt-2" id="device">
        <div class="row">
            <div class="col-sm">
                <h1 class="bg-light text-dark text-center">Dispositivo: <b>{{ n_device }}</b></h1>

                <div class="text-center my-5">
                    <input type="checkbox" {{ state }} data-toggle="toggle" data-width="100" data-height="75" onchange="state_check()"></div>
                <div class="d-flex flex-column">
                      </div>
                    <div class="p-2 d-flex justify-content-around" id="ON/OFF">
                    </div>
                    <div class="p-2">
                      <!-- <span>Horario programado</span>  -->
                      <form id="config">
                      <div class="form-group row">
                        <label for="configDate" class="col-2 col-form-label">Fecha</label>
                        <div class="col-10">
                          <input class="form-control" type="date" value="" id="configDate" >
                          <div id="alert_date"></div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="hour_1" class="col-2 col-form-label">Empieza</label>
                        <div class="col-10">
                          <input class="form-control" type="time" value="00:00:00" id="hour_1" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="hour_2" class="col-2 col-form-label">Termina</label>
                        <div class="col-10">
                          <input class="form-control" type="time" value="00:00:00" id="hour_2" >
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary btn-lg" onclick="getData()">Agregar</button>
                    </form>
                    </div>

                    <div class="p-2">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Enciende</th>
                            <th scope="col">Apaga</th>
                          </tr>
                        </thead>
                        <tbody id="tableSopra">
                          <tr>
                            <th scope="row">1</th>
                            <td>10/08/2020</td>
                            <td>08:00 AM</td>
                            <td>05:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
          </div>

{% endblock content %}